.order-search-form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background: rgba(41, 41, 41, 0.8);
    margin-top: 200px;
    margin-left: 10%;
    padding-top: 20px;
    padding-left: 45px;
}

.order-search-form__text {
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.order-search-form__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.order-search-form__date-inputs {
    margin-top: 10px;
}

.order-search-form__input {
    margin-right: 30px;
}

.order-search-form__arrows-wrapper {
    vertical-align: middle;
}

.order-search-form__arrows {
    margin: 5px;
}

.order-search-form__direction-input {
    width: 325px;
    height: 60px;
    border-radius: 5px;
    background: #FFFFFF url('../../images/icons/geo.png') no-repeat right 10px center;
}

.order-search-form__direction-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 20px;
    color: #E5E5E5;
}

.order-search-form__date-input {
    width: 325px;
    height: 60px;
    border-radius: 5px;
    background: #FFFFFF url('../../images/icons/date.png') no-repeat right 10px center;
}

.order-search-form__date-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 20px;
    color: #E5E5E5;
}

.order-search-form__button {
    width: 325px;
    height: 60px;
    background: #FFA800;
    border: 0;
    border-radius: 5px;
    margin: 90px 5% 90px auto;
}

.order-search-form__button-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}