.train-selector {
    margin-left: 86px;
    margin-top: 95px;
    width: 52%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #928F94;
    margin-bottom: 250px;
}

.train-selector__count {
    float: right;
}

.train-selector__selected {
    color: #292929;
}

.train-selector__sort {
    margin-right: 50px;
    color: #292929;
}

.train-selector__cards {
    list-style: none;
    padding-left: 0;
}

.train-selector__pages {
    list-style: none;
    padding-left: 0;
    height: 0;
    float: right;

}

.train-selector__pages li {
    display: inline;
    margin-left: 35px;
    padding: 16px 28px 16px 28px;
    border: 2px solid #C4C4C4;
    width: 84px;
    height: 84px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;
}

.train-selector__pages li:hover {
    color: #FFA800;
    border-color: #FFA800;
    background: #FFFFFF;
}

.train-selector__page-selected {
    background: #FFA800;
    color: #FFFFFF;
}
