.switch {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 0px;
    bottom: -4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FFA800;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FFA800;
}

input:checked + .slider:before {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.ticket-option {
    margin-bottom: 30px;
    display: inline-flex;
    height: 30px;
}

.ticket-option__image-wrapper {
    width: 20px;
    height: 20px;
}

.ticket-option__text {
    display: inline-block;
    width: 140px;
    margin-left: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}